.navbar{
  background: #BAEAFF;
}
.example-container {
  height: 1000px;
  background-color: aliceblue;

}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.icons{
  font-size: 20px;
  list-style-type: none;

}
.home{
  background-color: #F5F7FA;
}
.mystats{
  background: #FFBEAA;
}

.mycourses{
  background: rgba(67, 175, 74, 0.34);}

.messages{
background: #FFE2BD;
}
.myclassroom{
  background: #BEEBFA;}

.funtime{
  background: rgba(242, 69, 0, 0.38);}
.borders{
  border-radius: 10px;
}

::ng-deep.mat-tab-label{
  min-width: 0px!important;
}
.left{
    border-radius: 15px;


}
::ng-deep.mat-tab-body-wrapper{
  margin-top: 20px;
}
.right{
  background: rgba(5, 80, 105, 0.76);
  border-radius: 21px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.99);

}
::ng-deep.mat-expansion-panel{
  border-radius: 15px !important;
}
::ng-deep.mat-tab-label-content{
  color: white;
}

::ng-deep.mat-ink-bar{
  background-color: white !important;
}
